body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #26272F !important;
}

table, tr {
  border-radius: 25px;
}
table td {
  color: white !important;
}

th {
  color: white;
}

h2 {
  margin-top: 100px !important;
  margin-bottom: 50px !important;
  color: white;
}

div {
  display: flex;
  flex-direction: column;
}

div.row:first-of-type {
  order: 3;
}
div.row:nth-of-type(2) {
  order: 2;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

h3.text-center {
  color: white;
}

.details-container {
  color: white;
  text-align: center;
  margin: auto;
}

.details-container .row:first-of-type {
  border: 1px solid white;
  width: 350px;
}


.details-container label {
  margin: 10px 0;
  font-weight: 700;
}

.btn.btn-primary.btn-lg {
  margin-top: 50px;
  background-color: transparent;
  border-color: white;
}

.btn.btn-primary.btn-lg:hover {
  background-color: #25A2D9;
  border-color: transparent;
}

.card {
  margin-top: 100px !important;
  background-color: transparent !important;
  border: 1px solid white !important;
}

.card h3 {
  color: white;
}

.card label {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header .navbar {
  background-color: #111118 !important;
  display: flex;
  justify-content: center;
}

footer {
  background-color: #111118 !important
}

footer .text-muted {
  vertical-align: middle;
  color: white !important;
}